name: mirror-eroge

services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
      - "8222:8222"  # HTTP management
    command: "--http_port 8222"

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    ports:
      - "6379:6379"
    ulimits:
      memlock: -1
    volumes:
      - dragonfly-data:/data

volumes:
  dragonfly-data:

